*{
    margin: 0;
    padding:0 ;
}
header, footer{
    width: 100%;
    height: 20vh;
    background-color: yellow;
}
div{
    width:100% ;
    height: 60vh;
    display: flex;
    justify-content: space-between;

}
nav, .ads{
    width: 30%;
    background-color: yellow;
    margin: 5px;
}
.article{
    width: 60%;
    background-color: yellow;
    margin: 5px;
}
